tr.hilite {
  td, th {
    background: #D5E4FA;
  }
}

table.frames {

  width:        100%;
  margin:       0;
  padding:      0;

  td { 
    width: 60px;     
    text-align: right;

    &.bowl  { width:  8% !important; }
    &.final { width: 12% !important; }

    span.bowl {
      display: inline-block; 
      width:   18px;
      height:  13px;
      text-align: center;
      padding: 3px 0;
      border: 1px solid black;
      vertical-align: top;
      margin-left: -1px;
    }

    span.cumulative { 
      display: block;
      margin-top: 5px;
    }
  }

  td.hilite { 
  	background: #D5E4FA; 
  	tr.hilite & { background: #a7c2ea; }
  }
}

@include respond( mobile ) {
  table.frames {
    td.hilite {
      background: white;
    }

    span.bowl {
      margin-bottom: -1px;
    }
  }
}

